wheel==0.44.0

twine==5.1.1
build==1.2.2.post1

html-testRunner~=1.2.1
mypy==1.13.0

codeallybasic==1.7.0

# For developer and circleci
buildlackey==1.7.0

# Manually install this in order to run demo
# wxPython~=4.2.2
